$background-color: #ece0e8;
$background-color-2: #f5f5f6;
$background-color-3: #e1e2e1;
$background-color-dark: #222222;

$color-primary: #1e0b36;
$color-primary-light: #755b8e;
$color-primary-dark: #483160;

$color-secondary: #ca3782;
$color-secondary-light: #ff6cb1;
$color-secondary-dark: #950056;

$font-color: #230a1b;
$font-color-secondary: #888888;
$font-color-light: #ffffff;

$color-black: #222;
$color-white: #fff;

$box-shadow: 0 0.48rem 0.64rem rgba($color-black, 0.7);
$box-shadow-inset: inset 2px 2px 16px 8px rgba(22, 22, 22, 0.6);
